# COVID 19 DATA EXPLORATION

Bryan Camilo Hurtado Suarez

Resume: In this project I use SQL Big Query to explore global COVID 19 data [Data Set](https://ourworldindata.org/covid-deaths)

##Proccess:



1.   Load Dataset into Google Cloud Platform - Big Query
2.   Access to the Dataset using Python
3.   Explore the Dataset Using SQL

###Load Dataset into Google Cloud Platform - Big Query

First, the Data set composed by two tables, Covid Deaths and Covid Vaccunations, is loaded to GCP Big Query

### Access to the Dataset using Python

Create the credential to access into GCP and intialite the client, which allow to communicate using Python

In [2]:
from google.cloud import bigquery
from google.oauth2 import service_account
credentials = service_account.Credentials.from_service_account_file(
'/content/sql-practice-368620-7bf0cc1c1ddf.json')

project_id = 'sql-practice-368620'
client = bigquery.Client(credentials= credentials,project=project_id)

###Explore the Dataset Using SQL

First, a query that allow know Data that we are going to be working

In [3]:
query = ("""
Select *
From sql-practice-368620.Covid19.CovidDeaths
Where continent is not null 
order by date DESC
Limit 10

 """)

query_job = client.query(query)  # Make an API request.
print('Location'.ljust(21),'Continent'.ljust(21),'Date'.ljust(13), 'Total Cases'.ljust(21), 'Total Deaths'.ljust(21), 'People vaccinated')
for row in query_job:
  # Row values can be accessed by field name or index.
  location = row['location']
  continent = row['continent']
  date = row['date']
  total_cases = row['total_cases']
  total_deaths = row['total_deaths']
  people_vaccinated = row['people_vaccinated']
  print(f'{location:<20} | {continent:<20} | {date} | {total_cases:<20} | {total_deaths:<20} | {people_vaccinated} ' )

Location              Continent             Date          Total Cases           Total Deaths          People vaccinated
Jordan               | Asia                 | 2021-04-30 | 711373               | 8836                 | None
Pakistan             | Asia                 | 2021-04-30 | 825519               | 17957                | None
Philippines          | Asia                 | 2021-04-30 | 1037460              | 17234                | 1639806
Timor                | Asia                 | 2021-04-30 | 2276                 | 3                    | None
Iraq                 | Asia                 | 2021-04-30 | 1065199              | 15465                | None
Uzbekistan           | Asia                 | 2021-04-30 | 90808                | 649                  | None
India                | Asia                 | 2021-04-30 | 19164969             | 211853               | 125376952
Bangladesh           | Asia                 | 2021-04-30 | 759132               | 11450                | None
United Arab Emirates | Asia                 | 2021-04-30 | 520236               | 1587                 | None
Nepal                | Asia                 | 2021-04-30 | 323187               | 3279                 | None

Total Cases vs Total Deaths:
Shows likelihood of dying if you contract covid in your country

In [4]:
query = ("""
Select location, date, total_cases,total_deaths, (total_deaths/total_cases)*100 as DeathPercentage
From sql-practice-368620.Covid19.CovidDeaths
Where continent is not null 
order by date DESC
Limit 10

 """)

query_job = client.query(query)  # Make an API request.
print('Location'.ljust(21),'Date'.ljust(13), 'Total Cases'.ljust(21), 'Total Deaths'.ljust(21), 'Death Percentage')
for row in query_job:
  # Row values can be accessed by field name or index.
  location = row['location']
  date = row['date']
  total_cases = row['total_cases']
  total_deaths = row['total_deaths']
  DeathPercentage = row['DeathPercentage']
  print(f'{location:<20} |  {date} | {total_cases:<20} | {total_deaths:<20} | {DeathPercentage} ' )

Location              Date          Total Cases           Total Deaths          Death Percentage
Jordan               |  2021-04-30 | 711373               | 8836                 | 1.2421050559973459
Pakistan             |  2021-04-30 | 825519               | 17957                | 2.1752376383826415
Philippines          |  2021-04-30 | 1037460              | 17234                | 1.6611724789389473
Timor                |  2021-04-30 | 2276                 | 3                    | 0.13181019332161686
Iraq                 |  2021-04-30 | 1065199              | 15465                | 1.451841393016704
Uzbekistan           |  2021-04-30 | 90808                | 649                  | 0.7146947405514932
India                |  2021-04-30 | 19164969             | 211853               | 1.1054179111899425
Bangladesh           |  2021-04-30 | 759132               | 11450                | 1.508301586548848
United Arab Emirates |  2021-04-30 | 520236               | 1587                 | 0.3050538601711531
Nepal                |  2021-04-30 | 323187               | 3279                 | 1.014582888544403

Total Cases vs Population: Shows what percentage of population infected with Covid

In [5]:
query = ("""
Select location, date, Population, total_cases,  (total_cases/population)*100 as PercentPopulationInfected
From sql-practice-368620.Covid19.CovidDeaths
Where continent is not null 
order by date DESC
Limit 10

 """)

query_job = client.query(query)  # Make an API request.
print('Location'.ljust(21),'Date'.ljust(13), 'Total Cases'.ljust(21), 'Population'.ljust(21), 'Percent Population Infected')
for row in query_job:
  # Row values can be accessed by field name or index.
  location = row['location']
  date = row['date']
  total_cases = row['total_cases']
  Population = row['Population']
  PercentPopulationInfected = row['PercentPopulationInfected']
  print(f'{location:<20} |  {date} | {total_cases:<20} | {Population:<20} | {PercentPopulationInfected} ' )

Location              Date          Total Cases           Population            Percent Population Infected
Jordan               |  2021-04-30 | 711373               | 10203140             | 6.9720987852759055
Pakistan             |  2021-04-30 | 825519               | 220892331            | 0.37372008175331356
Philippines          |  2021-04-30 | 1037460              | 109581085            | 0.946750983529685
Timor                |  2021-04-30 | 2276                 | 1318442              | 0.1726279957707658
Iraq                 |  2021-04-30 | 1065199              | 40222503             | 2.648266319975164
Uzbekistan           |  2021-04-30 | 90808                | 33469199             | 0.2713181155007624
India                |  2021-04-30 | 19164969             | 1380004385           | 1.3887614567253712
Bangladesh           |  2021-04-30 | 759132               | 164689383            | 0.46094774670447336
United Arab Emirates |  2021-04-30 | 520236               | 9890400              | 5.260009706381946
Nepal                |  2021-04-30 | 323187               | 29136808             | 1.1092052362084412

Countries with Highest Infection Rate compared to Population

In [10]:
query = ("""
Select Location, Population, MAX(total_cases) as HighestInfectionCount,  Max((total_cases/population))*100 as PercentPopulationInfected
From sql-practice-368620.Covid19.CovidDeaths
Group by Location, Population
order by PercentPopulationInfected desc
Limit 10

 """)

query_job = client.query(query)  # Make an API request.
print('Location'.ljust(21), 'Population'.ljust(21), 'Highest Infection Count'.ljust(31), 'Percent Population Infected')
for row in query_job:
  # Row values can be accessed by field name or index.
  location = row['Location']
  Population = row['Population']
  HighestInfectionCount = row['HighestInfectionCount']
  PercentPopulationInfected = row['PercentPopulationInfected']
  print(f'{location:<20} |   {Population:<20} |  {HighestInfectionCount:<30} | {PercentPopulationInfected} ' )

Location              Population            Highest Infection Count         Percent Population Infected
Andorra              |   77265                |  13232                          | 17.125477253607713
Montenegro           |   628062               |  97389                          | 15.506271673815641
Czechia              |   10708982             |  1630758                        | 15.22794603632726
San Marino           |   33938                |  5066                           | 14.92722022511639
Slovenia             |   2078932              |  240292                         | 11.558434811720634
Luxembourg           |   625976               |  67205                          | 10.736034608355592
Bahrain              |   1701583              |  176934                         | 10.398199793956568
Serbia               |   6804596              |  689557                         | 10.133694932072382
United States        |   331002647            |  32346971                       | 9.772420641699581
Israel               |   8655541              |  838481                         | 9.687216547180586

Showing contintents with the highest death count per population

In [11]:
query = ("""
Select continent, MAX(cast(Total_deaths as int)) as TotalDeathCount
From sql-practice-368620.Covid19.CovidDeaths
Where continent is not null 
Group by continent
order by TotalDeathCount desc
Limit 10

 """)

query_job = client.query(query)  # Make an API request.
print('continent'.ljust(21),'TotalDeathCount')
for row in query_job:
  # Row values can be accessed by field name or index.
  continent = row['continent']
  TotalDeathCount = row['TotalDeathCount']
  print(f'{continent:<20} |  {TotalDeathCount}  ' )

continent             TotalDeathCount
North America        |  576232
South America        |  403781
Asia                 |  211853
Europe               |  127775
Africa               |  54350
Oceania              |  910

Global numbers

In [12]:
query = ("""
Select SUM(new_cases) as total_cases, SUM(cast(new_deaths as int)) as total_deaths, SUM(cast(new_deaths as int))/SUM(New_Cases)*100 as DeathPercentage
From sql-practice-368620.Covid19.CovidDeaths
where continent is not null 
order by 1,2
Limit 10

 """)

query_job = client.query(query)  # Make an API request.
print('Total Cases'.ljust(21),'Total Deaths'.ljust(21), 'DeathPercentage'.ljust(21))
for row in query_job:
  # Row values can be accessed by field name or index.
  total_cases = row['total_cases']
  total_deaths = row['total_deaths']
  DeathPercentage = row['DeathPercentage']
  print(f'{total_cases:<20} | {total_deaths:<20} | {DeathPercentage} ' )

Total Cases           Total Deaths          DeathPercentage
150574977            | 3180206              | 2.1120414981036326

Total Population vs Vaccinations: Shows Percentage of Population that has recieved at least one Covid Vaccine

In [23]:
query = ("""
Select dea.continent, dea.location, dea.date, dea.population, vac.new_vaccinations
, SUM(CAST(vac.new_vaccinations as INT64)) OVER (Partition by dea.Location Order by dea.location, dea.Date) as RollingPeopleVaccinated
From sql-practice-368620.Covid19.CovidDeaths dea
Join sql-practice-368620.Covid19.CovidVaccinations vac
	On dea.location = vac.location
	and dea.date = vac.date
where dea.continent is not null 
order by date desc
Limit 10

 """)

query_job = client.query(query)  # Make an API request.
print('continent'.ljust(21),'location'.ljust(21),'Date'.ljust(13), 'Population'.ljust(21), 'Rolling People Vaccinated')
for row in query_job:
  # Row values can be accessed by field name or index.
  continent = row['continent']
  location = row['location']
  date = row['date']
  Population = row['population']
  RollingPeopleVaccinated = row['RollingPeopleVaccinated']
  print(f'{continent:<20} | { location:<20} | {date} | {Population :<20} |  {RollingPeopleVaccinated}' )

continent             location              Date          Population            Rolling People Vaccinated
Asia                 | Armenia              | 2021-04-30 | 2963234              |  None
Asia                 | Afghanistan          | 2021-04-30 | 38928341             |  None
Oceania              | Australia            | 2021-04-30 | 25499881             |  2179544
North America        | Aruba                | 2021-04-30 | 106766               |  32484
Africa               | Algeria              | 2021-04-30 | 43851043             |  30
Europe               | Albania              | 2021-04-30 | 2877800              |  347702
North America        | Antigua and Barbuda  | 2021-04-30 | 97928                |  225
South America        | Argentina            | 2021-04-30 | 45195777             |  7391255
Africa               | Angola               | 2021-04-30 | 32866268             |  None
Europe               | Andorra              | 2021-04-30 | 77265                |  4802

Using CTE to perform Calculation on Partition By in previous query

In [31]:
query = ("""
With PopvsVac 
as
(
Select dea.continent, dea.location, dea.date, dea.population, vac.new_vaccinations
, SUM(CAST(vac.new_vaccinations as INT64)) OVER (Partition by dea.Location Order by dea.location, dea.Date) as RollingPeopleVaccinated
--, (RollingPeopleVaccinated/population)*100
From sql-practice-368620.Covid19.CovidDeaths dea
Join sql-practice-368620.Covid19.CovidVaccinations vac
	On dea.location = vac.location
	and dea.date = vac.date
where dea.continent is not null 
--order by 2,3
)
Select *, (RollingPeopleVaccinated/Population)*100 AS RollingPeopleVaccinatedP
From PopvsVac
Order by date desc
Limit 20
 """)

query_job = client.query(query)  # Make an API request.
print('continent'.ljust(21),'location'.ljust(21),'Date'.ljust(13), 'Population'.ljust(21), 'Rolling People Vaccinated')
for row in query_job:
  # Row values can be accessed by field name or index.
  continent = row['continent']
  location = row['location']
  date = row['date']
  Population = row['population']
  RollingPeopleVaccinatedP = row['RollingPeopleVaccinatedP']
  print(f'{continent:<20} | { location:<20} | {date} | {Population :<20} |  {RollingPeopleVaccinatedP}' )

continent             location              Date          Population            Rolling People Vaccinated
South America        | Argentina            | 2021-04-30 | 45195777             |  16.353861999097834
Europe               | Albania              | 2021-04-30 | 2877800              |  12.082215581346862
Asia                 | Bahrain              | 2021-04-30 | 1701583              |  46.278200945825155
Asia                 | Afghanistan          | 2021-04-30 | 38928341             |  None
North America        | Antigua and Barbuda  | 2021-04-30 | 97928                |  0.2297606404705498
Europe               | Belarus              | 2021-04-30 | 9449321              |  None
North America        | Barbados             | 2021-04-30 | 287371               |  24.110296446057536
Europe               | Andorra              | 2021-04-30 | 77265                |  6.214974438620333
Europe               | Austria              | 2021-04-30 | 9006400              |  34.769674897850415
Oceania              | Australia            | 2021-04-30 | 25499881             |  8.547271259814899
Africa               | Benin                | 2021-04-30 | 12123198             |  None
Asia                 | Bangladesh           | 2021-04-30 | 164689383            |  1.977478414622514
Asia                 | Azerbaijan           | 2021-04-30 | 10139175             |  6.6469411959059785
Asia                 | Armenia              | 2021-04-30 | 2963234              |  None
Africa               | Angola               | 2021-04-30 | 32866268             |  None
North America        | Belize               | 2021-04-30 | 397621               |  5.335985775399187
Europe               | Belgium              | 2021-04-30 | 11589616             |  32.989082640874386
North America        | Aruba                | 2021-04-30 | 106766               |  30.425416331041717
North America        | Bahamas              | 2021-04-30 | 393248               |  1.7520750264464153
Africa               | Algeria              | 2021-04-30 | 43851043             |  6.841342405470264e-05